body {
  font-family: 'Anton', sans-serif;
  font-family: 'Marck Script', cursive;
  font-family: 'Playball', cursive;
  text-align: center;
  color: #11999E;
}

hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin:100px auto;
}


.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.heading {
  font-family: 'Playball', cursive;
  font-size: 50px;
}

.top_container {
  background-color: #E4FBFF;
  padding-top: 100px;
  position: relative;
}

.mid_container {

  padding-top: 100px;
  position: relative;
}

.bottom_container {
  background-color: #E4FBFF;
  padding-top: 100px;
  position: relative;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
